@import '../scss/variables.scss';
@import '../scss/grid';


input {
  outline: none;
  font-family: "MarkPro", sans-serif;
  border: none;
  border-bottom: 1px solid $form-grey;
  padding: 12px 0 12px;
  font-size: 16px;
  height: 27px;
  width: 100%;

  &::placeholder {
    color: $form-grey;
  }
}

input.disabled {
  background-color: #e3e3e3;
}

.textAreaContainer {
  height: 150px;
}

.smallTextInput {
  font-size: 13px;
  height: 23px;
  width: 100%;
  top: 13px;
  position: relative;
  padding: 0px !important;
}

.animationContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
}

.heading{
  margin-left: $space-md;
}
.icon{
  height: 17px;
  margin-right: $space-xs
}

.backContainer{
  display: flex;
  flex-direction: row;
  margin: $space-sm $space-md;
}

/* Text inputs */

.inputContainer {
  position: relative;
  height: 59px;
  top: 8px;
  z-index: 0;
  margin: 0px 0 10px;
  .dynamicLabel {
    font-size: 16px;
    position: absolute;
    top: 25%;
    z-index: 0;
    left: 0;
    color: $form-grey;
    transition: all .2s;
  }

  input {
    z-index: 2;
  }

  .inputSelected {
    top: -12px;
    font-size: 12px;
  }
}

.hiddenField {
  position: relative;
  opacity: 0;
  height: 0;
  transition: opacity .5s, height .5s ease .5s;
  >div {
    z-index: -1
  }
}

.showField {
  height: 79px;
  transition: height .5s, opacity .5s ease .5s;
  >div {
    z-index: 0
  }
}


/* Image uploader CSS */

input[type="file"] {
  display: none;
}

.lineOne {
  width: 5px;
  height: 20px;
  border-radius: 1.1px;
  background-color: #ffffff;
  position: absolute;
}

.lineTwo {
  width: 20px;
  height: 5px;
  border-radius: 1.1px;
  background-color: #ffffff;
  position: absolute;
}

.imgLabel {
  label {
    font-size: 16px !important;
    color: $form-grey;
  }
  margin-bottom: 10px;
}

.customFileUpload {
  display: block;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 71px;
  border-radius: 35px;
  background-color: #C5C4C8;
  overflow: hidden;
  .img {
    width: 71px;
  }
}

.imageUploader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.imgHolder {
  width: 50px;
  height: 100%;
  margin-bottom: 15px;
}

.requiredInput {
  border-bottom: 1px solid $sportable-red;

  &:hover {
    border-bottom: 1px solid $sportable-red;
  }
  &:focus {
    border-bottom: 1px solid $sportable-red;
  }
}

.fieldAsterix {
  position: absolute;
  right: 0;
  color: $sportable-red;
  top: 50%;
  transform: translateY(-100%);
}

/* Toggle */

.toggleContainer {
  display: flex;
  align-items: center;
  position: relative;

  .toggle {
    cursor: pointer;
    position: relative;
    margin: 0;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 3px;
    border: #F64645 solid 1px;
    box-sizing: border-box;
    outline: none;
    transition: .5s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  .toggleSlider {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    height: 100%;
    background: #F64645;
    z-index: 0;
    transition: .5s;
  }

  .toggleActive {
    color: white;
  }
}


.playerForm {
  width: 624px;
}

.pageSplitter {
  display: flex;
  flex-direction: row;
}

.formTitle {
  margin-bottom: $space-md;
}

.smallInput {
  padding-left: $space-xs;
  padding-right: $space-xs;
  width: 135px;
}

.formContainer{
  width: 350px
}

// Dynamic Label

.newInputContainer {
  position: relative;
  height: 59px;
}

.header-select {
  .dynamicLabel {
    top: unset !important;
  }
}

.inputContainer, .newInputContainer {
  top: 10px;
  z-index: 0;
  .dynamicLabel {
    font-size: 16px;
    position: absolute;
    top: 25%;
    z-index: 0;
    left: 0;
    color: $form-grey;
    transition: all .2s;
  }

  input {
    z-index: 2;
  }

  .inputSelected {
    top: -12px;
    font-size: 12px;
  }
}

// Select CSS

:global {

  .checkbox {
    width: 21px;
    height: 21px;
    border: 1px solid #949497;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #ffffff;

    &:hover {
      border: 1px solid black;
    }

    &:focus {
      border: 1px solid #949497;
    }
  }
  .checkbox-container {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    .checkbox-label-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: $space-sm;
      .checkbox-error {
        color: $sportable-red;
        margin-left: 3%;
      }
    }
  }

  .smallSelectContainer {
    width: calc(#{$space-md} * 5);
    height: $space-md;
    margin: 0 $space-sm;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .small-select {
    height: 24px !important;

    .value {
      top: 5px !important;
      height: 40px !important;
    }

    .select-value {
      font-size: 13px !important;
    }

    .main-drop {
      top: 30px !important;
    }

    .option {
      padding: 5px !important;
      font-size: 13px !important;
    }
  }

  .header-select {
    border-bottom: none !important;

    height: 48px !important;

    .value {
      top: 0 !important;
      height: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .select-value {
      font-size: 18px !important;
      font-weight: 600;
    }

    .main-drop {
      top: 50px !important;
    }

    .option {
      padding: 5px !important;
      font-size: 18px !important;
    }

    .dropdown-symbol {
      width: 4% !important;
      padding-right: 4px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .select-container {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    outline: 0;
    border-bottom: solid 1px $form-grey;


    .value {
      width: 97%;
      overflow: hidden;
      .select-value  {
        color: $sportable-black;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      }
    }

    .dropdown-symbol {
      width: 3%;
      padding-right: 4px
    }

    .main-drop {
      position: absolute;
      top: 58px;
      left: 0;
      width: 100%;
      .dropdown-container {
        z-index: 20;
        width: 100%;
        height: 0;
        left: 0;
        position: absolute;
        background: white;
        display: flex;
        overflow-y: hidden;
        border-radius: 2%;
        box-shadow: 0 0 30px -5px #888888;

        .select-dropdown {
          box-sizing: border-box;
          width: 96%;
          padding: 5px;
          height: auto;
          // overflow: scroll;
          .option {
            padding: 10px;
            cursor: pointer;
            color: $sportable-black;

            &:hover {
              color: $sportable-red
            }
          }
        }
      }
    }
  }
}

/* New Session CSS */

.sessionForm {
  width: 100%;
  box-sizing: border-box;
}
.sessionFormContainer{
  width: 100%;
}

.formImageContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;

  >div {
    width: 100%;

    >div  {
      padding-top: $space-sm;
    }
  }
}

.playerImg {
  justify-content:center;
  align-items: center;
  display: flex;
  width: 100%;
}

.verifyBodyContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 390px;
}

.formNav {
  height: $space-sm;
  margin-bottom: $space-md;
}

.form {
  width: 80%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: $space-lg;
}
