@import "../scss/variables";

.container {
  box-sizing: border-box;
  height: 100%;
}

.tableContainer {
  box-sizing: border-box;
  height: 100%;
}

.headContainer {
  height: 60px;
  position: relative;
}

.smallHeadContainer {
  height: 30px;
  position: relative;
}

.bodyContainer {
  height: 100%;
  overflow-y: scroll;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: border-box;
}

.overflow {
  height: calc(100% - 60px);
  width: 100%
}

.smallHeadOverflow {
  height: calc(100% - 30px);
  width: 100%
}

// Main table

table.minimalistBlack {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  .number {
    text-align: right;
  }
}
table.minimalistBlack td, table.minimalistBlack th {
  border-bottom: 1px solid #c5c4c8;
  padding: 5px 10px;
}

table.minimalistBlack tr:last-of-type td {
  border-bottom: none;
}

table.minimalistBlack thead {
  cursor: pointer;
  background: #fff;
  margin-top: 30px;
}

thead {
  display: table-row-group;
}

.tableHead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

table.minimalistBlack thead th td {
  color: #000000;
  text-align: left;

  &:not(:first-of-type) {
    cursor: pointer;
  }
}

table.minimalistBlack td {

  p {
    font-size: 13px;
    line-height: 17px;
  }

}

table.minimalistBlack td:nth-child(even), table.minimalistBlack th:nth-child(even) {
  background: #f6f5fa;
}

table.minimalistBlack td:nth-child(odd), table.minimalistBlack th:nth-child(odd) {
  background: #eeedf2;
}

table.minimalistBlack td:first-child,  table.minimalistBlack th:first-child{
  border-left: none;
  background: #fff;
  cursor: auto;
}

table.minimalistBlack th:nth-child(2){
  border-radius: 10px 0 0 0;
}

table.minimalistBlack th:last-child{
  border-radius: 0 10px 0 0;
}

table.minimalistBlack {
  td, th {
    width: 16.6%;
  }
}

.tableHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 120%;
  // white-space: nowrap;
  overflow: hidden;
}

.blob {
  width: 13px;
  height: 13px;
  float: right;
  border-radius: 10px;
}

.true {
  background: green;
}

.false {
  background: red;
}

.tableText{
  font-size: 13px;
}

.tableTextSmall {
  font-size: 13px;
  line-height: 18px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
  min-height: 18px;
}

.colorContainer {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 0.7;
}

.inputCell {
  position: relative;
}

.tableInputContainer {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tableInput {
  font-size: 13px;
  line-height: 14px;
  text-align: right;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  padding: 5px 10px;
  box-sizing: border-box;
}

// small kick table

.eventTableContainer {
  height: 100%;
}


table.eventTable {
  width: 100%;
  text-align: left;
  .number {
    text-align: right;
  }
  .text {
    text-align: left;
  }
  .center {
    text-align: left;
  }
  table-layout: fixed;
}
table.eventTable td, table.eventTable th {
  border-bottom: 1px solid #c5c4c8;
  padding: 6px;
}

table.eventTable thead {
  cursor: pointer;
  background: #fff;
  margin-top: 30px;
}
table.eventTable thead th td {
  color: #000000;
  text-align: left;
  cursor: pointer;
}

table.eventTable tfoot td {
  font-size: 13px;
}

table.eventTable td:nth-child(even), table.eventTable th:nth-child(even) {
  background: #f6f5fa;
}

table.eventTable td:nth-child(odd), table.eventTable th:nth-child(odd) {
  background: #eeedf2;
}

table.eventTable td:first-child,  table.eventTable th:first-child{
  border-left: none;
  background: #eeedf2;
  cursor: pointer;
}

table.eventTable {
  td, th {
    width: 16.6%;
  }

  th {
    >div {
      text-align: center;
    }
  }
}

.flightRow {
  height: 30px !important;
  &:hover {
    td {
      background: #e3e3e3 !important;
      cursor: pointer;
    }
  }
}

.highlightRow {
  td {
    background: rgba(0,0,200, 0.5) !important;
    color: white;
  }
}

.highlightColumn {
  background: #e3e3e3 !important;
}

.optionsContainer {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  .option {
    color: $sportable-red;
    margin-left: $space-sm;
  }
}

.disabled {
  background: #e3e3e3!important;
}

.hardwareCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Tag and Anchor rows

.idContainer {
  position: relative;
  .decimalId {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    background: white;
    &:hover {
      opacity: 1;
    }
  }
}

.color {
  width: 100%;
  height: 13px;
  border-radius: 3px;
}

.editableTableContainer {
  position: relative;

  .importCSVModalContainer {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
    background: rgba(0, 0, 0, 0.2);


    .importCSVModal {
      background: white;
      height: 200px;
      width: 300px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }
  }
}


